name: Playwright Ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  test:
    name: Run Tests (${{ matrix.browser }})
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pages: write
      id-token: write


    strategy:
      fail-fast: false
      matrix:
        browser: [chromium, firefox, webkit]
        java: [17]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t playwright-tests .

      - name: Run Tests in Docker
        run: docker run playwright-tests

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: maven

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: maven-${{ hashFiles('**/pom.xml') }}

      - name: Install Playwright Browsers
        run: mvn exec:java -e -Dexec.mainClass=com.microsoft.playwright.CLI -Dexec.args="install"

      - name: Run Tests
        run: mvn clean test -Dbrowser=${{ matrix.browser }}

      - name: Generate Allure Report
        run: mvn allure:report

      - name: Upload Allure Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results-${{ matrix.browser }}
          path: target/allure-results

      - name: Upload Surefire Reports
        uses: actions/upload-artifact@v4
        with:
          name: surefire-${{ matrix.browser }}
          path: target/surefire-reports

  build-report:
    name: Build Allure Report
    runs-on: ubuntu-latest
    needs: test

